@import './variables.css';

/* 引入 Google Fonts (为了高逼格) */
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=Space+Grotesk:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

@font-face {
    font-family: "AlbumFont";
    src: url("../assets/fonts/ccsbelvare.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg-deep);
    color: var(--color-text-main);
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    /* 让字体在 Mac 上更清晰 */
    overflow-x: hidden;
}

/* 链接默认去掉下划线 */
a {
    color: inherit;
    text-decoration: none;
}

/* 所有的图片默认响应式 */
img {
    max-width: 100%;
    display: block;
}

