.footer-wrapper {
  width: 100%;
  height:180px;
  padding: 0px 80px 0 0;
  background: #0b0b0b;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.footer-inner {
  flex:2;
  
  display: flex;
  justify-content: center; /* 关键：水平居中 */
  align-items: center;     /* 关键：垂直居中 */
}

.footer-bottom {
  flex:1;
  padding:0 30px;
  border-top: 1px solid rgba(255,255,255,0.1);
  font-size: 0.7rem;
  color: #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* 社交图标列表 */
.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 40px; /* 图标之间的间距，可根据喜好微调 */
}

.social-list a {
  color: #888; /* 默认灰色 */
  transition: color 0.3s ease, transform 0.3s ease;
  display: flex;
}

.social-list a:hover {
  color: #fff; /* 悬浮变白，如果你有 var(--color-accent-secondary) 也可以换成那个 */
  transform: translateY(-4px);
}

/* 底部版权 */


/* 响应式 */
@media (max-width: 768px) {
  .footer-wrapper {
    padding: 100px 40px 60px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center; 
    gap: 15px;
  }
}